body{
    background-image: url(https://img1.goodfon.ru/wallpaper/nbig/9/e2/chernyy-fon-ulichnye-fonari-svet.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img.image {
    margin-bottom: 30px;
    margin-left: 54px;
}
html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
h1{
    font-family: "Century Gothic";
}
/*form{*/
/*    background-image: url(https://new-device.com.ua/images/novosti/43.jpg);*/
/*}*/


